In [1]:
from utils._utils import *

In [2]:
import pandas as pd
import numpy as np

In [3]:
root = get_root()

In [4]:
truth = pd.read_csv(open(root/'data-truth'/'zoltar-truth.csv', 'r'), parse_dates=['timezero'])

In [5]:
truth[(truth['target'] == '20 wk ahead inc death') & (truth['value'] == 0.0)].sort_values('timezero')

         timezero unit                 target  value
153277 2020-04-18   60  20 wk ahead inc death    0.0
153306 2020-04-18   33  20 wk ahead inc death    0.0
153312 2020-04-18   69  20 wk ahead inc death    0.0
153325 2020-04-18   50  20 wk ahead inc death    0.0
154417 2020-04-25   60  20 wk ahead inc death    0.0
154452 2020-04-25   69  20 wk ahead inc death    0.0
154465 2020-04-25   50  20 wk ahead inc death    0.0
154471 2020-04-25   56  20 wk ahead inc death    0.0
155605 2020-05-02   50  20 wk ahead inc death    0.0
155606 2020-05-02   78  20 wk ahead inc death    0.0
155557 2020-05-02   60  20 wk ahead inc death    0.0
155592 2020-05-02   69  20 wk ahead inc death    0.0
156697 2020-05-09   60  20 wk ahead inc death    0.0
156732 2020-05-09   69  20 wk ahead inc death    0.0
156745 2020-05-09   50  20 wk ahead inc death    0.0
156746 2020-05-09   78  20 wk ahead inc death    0.0
157837 2020-05-16   60  20 wk ahead inc death    0.0
157872 2020-05-16   69  20 wk ahead inc death    0.0
157885 2020-05-16   50  20 wk ahead inc death    0.0
169855 2020-05-21   50  20 wk ahead inc death    0.0
169807 2020-05-21   60  20 wk ahead inc death    0.0
169826 2020-05-21   23  20 wk ahead inc death    0.0
169842 2020-05-21   69  20 wk ahead inc death    0.0
169856 2020-05-21   78  20 wk ahead inc death    0.0

In [6]:
truthinc = pd.read_csv(open(root/'data-truth'/'truth-Incident Deaths.csv', 'r'))

/Users/abdulhannan/anaconda3/envs/covid19-forecast/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
pd.to_datetime(truthinc[truthinc['date'] == '2020-09-03']['date']).iloc[0].month_name()

'September'

In [8]:
truth

         timezero unit                 target  value
0      2020-01-20   01   1 wk ahead cum death    0.0
1      2020-01-20   02   1 wk ahead cum death    0.0
2      2020-01-20   60   1 wk ahead cum death    0.0
3      2020-01-20   04   1 wk ahead cum death    0.0
4      2020-01-20   05   1 wk ahead cum death    0.0
...           ...  ...                    ...    ...
169857 2020-05-21   51  20 wk ahead inc death   58.0
169858 2020-05-21   53  20 wk ahead inc death   41.0
169859 2020-05-21   54  20 wk ahead inc death   13.0
169860 2020-05-21   55  20 wk ahead inc death   52.0
169861 2020-05-21   56  20 wk ahead inc death    1.0

[169862 rows x 4 columns]